<a href="https://colab.research.google.com/github/jobayed80/Machine_Learning_Learning_Course/blob/main/pandas_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

# **1.	Create a pandas series from each of the items below: a list, numpy and a dictionary.**

In [29]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

# Create Pandas Series
ser_list = pd.Series(mylist)
ser_array = pd.Series(myarr)
ser_dict = pd.Series(mydict)


print(ser_list)

print(ser_array)

print(ser_dict)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

# **2.	Convert the series ser into a dataframe with its index as another column on the dataframe.**

In [30]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

# Convert the series to a DataFrame with index as another column
df = ser.reset_index()

# Rename the columns if needed
df.columns = ['index', 'alphabets']

print(df)

    index alphabets
0       0         a
1       1         b
2       2         c
3       3         e
4       4         d
5       5         f
6       6         g
7       7         h
8       8         i
9       9         j
10     10         k
11     11         l
12     12         m
13     13         n
14     14         o
15     15         p
16     16         q
17     17         r
18     18         s
19     19         t
20     20         u
21     21         v
22     22         w
23     23         x
24     24         y
25     25         z

# **3.	Combine ser1 and ser2 to form a dataframe.**

In [31]:

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# Combine ser1 and ser2 into a DataFrame
df_combined = pd.DataFrame({'ser1': ser1, 'ser2': ser2})

print(df_combined)

   ser1  ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

# **4.	Give a name to the series ser calling it ‘alphabets’.**

In [32]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

# Give a name to the series
ser.name = 'alphabets'

print("Series with Name 'alphabets':")
print(ser)

Series with Name 'alphabets':
0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

# 5.	From ser1 remove items present in ser2.
# 6.	Get all items of ser1 and ser2 not common to both.

In [34]:
# Remove items present in ser2 from ser1
result_after_removal = ser1[~ser1.isin(ser2)]

print(result_after_removal)

# Get items not common to both ser1 and ser2
result_not_common = pd.concat([ser1[~ser1.isin(ser2)], ser2[~ser2.isin(ser1)]])

print(result_not_common)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0      a
1      b
2      c
3      e
4      d
5      f
6      g
7      h
8      i
9      j
10     k
11     l
12     m
13     n
14     o
15     p
16     q
17     r
18     s
19     t
20     u
21     v
22     w
23     x
24     y
25     z
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: object

# **7.	Compute the minimum, 25th percentile, median, 75th, and maximum of ser.**

In [35]:
ser = pd.Series(np.random.normal(10, 5, 25))

# Compute the minimum, 25th percentile, median, 75th percentile, and maximum
summary_stats = ser.describe(percentiles=[.25, .5, .75])

# Extract specific percentiles
min_value = summary_stats['min']
percentile_25 = summary_stats['25%']
median_value = summary_stats['50%']
percentile_75 = summary_stats['75%']
max_value = summary_stats['max']

# Display the results
print("Minimum:", min_value)
print("25th Percentile:", percentile_25)
print("Median:", median_value)
print("75th Percentile:", percentile_75)
print("Maximum:", max_value)

Minimum: -5.65392415686258
25th Percentile: 6.6133169383813035
Median: 10.298108923108087
75th Percentile: 13.974494299646716
Maximum: 20.802623938848235

# **8.	Calculte the frequency counts of each unique value ser.**

In [10]:
# Assuming 'ser' is your Pandas Series
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

# Calculate frequency counts of each unique value
frequency_counts = ser.value_counts()

print(frequency_counts)

b    5
g    5
f    5
c    4
a    4
d    3
e    2
h    2
dtype: int64

# **9.	From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.**

In [11]:
# Set seed for reproducibility
np.random.seed(100)

# Create a Pandas Series
ser = pd.Series(np.random.randint(1, 5, [12]))

# Find the top 2 most frequent items
top_items = ser.value_counts().nlargest(2).index

# Replace values not in the top 2 with 'Other'
ser_modified = ser.where(ser.isin(top_items), 'Other')

print(ser)
print(ser_modified)

0     1
1     1
2     4
3     4
4     4
5     4
6     1
7     3
8     3
9     1
10    3
11    2
dtype: int64
0         1
1         1
2         4
3         4
4         4
5         4
6         1
7     Other
8     Other
9         1
10    Other
11    Other
dtype: object

# **10.	Bin the series ser into 10 equal deciles and replace the values with the bin name.**

In [12]:
# Create a Pandas Series
ser = pd.Series(np.random.random(20))

# Bin the series into 10 equal deciles
bins = pd.qcut(ser, q=10, labels=False, precision=6)

# Replace the values with the bin names
ser_binned = pd.Series(bins).astype(str)


print(ser)
print(ser_binned)

0     0.670749
1     0.825853
2     0.136707
3     0.575093
4     0.891322
5     0.209202
6     0.185328
7     0.108377
8     0.219697
9     0.978624
10    0.811683
11    0.171941
12    0.816225
13    0.274074
14    0.431704
15    0.940030
16    0.817649
17    0.336112
18    0.175410
19    0.372832
dtype: float64
0     6
1     8
2     0
3     5
4     8
5     2
6     2
7     0
8     3
9     9
10    6
11    1
12    7
13    3
14    5
15    9
16    7
17    4
18    1
19    4
dtype: object

# **11.	Reshape the series ser into a dataframe with 7 rows and 5 columns.**

In [13]:
# Create a Pandas Series
ser = pd.Series(np.random.randint(1, 10, 35))

# Reshape the series into a DataFrame with 7 rows and 5 columns
df = pd.DataFrame(ser.values.reshape(7, 5))

print(df)

   0  1  2  3  4
0  1  3  4  3  6
1  9  2  1  8  7
2  3  1  9  3  6
3  2  9  2  6  5
4  3  9  4  6  1
5  4  7  4  5  8
6  7  4  1  5  5

# **12.	Find the positions of numbers that are multiples of 3 from ser.**

In [14]:
# Create a Pandas Series
ser = pd.Series(np.random.randint(1, 10, 7))

# Find positions of numbers that are multiples of 3
positions = np.where(ser % 3 == 0)[0]

print(positions)

[0 4 6]

# **13. From ser, extract the items at positions in list pos?**

In [15]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

result = ser.iloc[pos]
print(result)

0     a
4     e
8     i
14    o
20    u
dtype: object

# **14. Stack ser1 and ser2 vertically and horizontally (to form a dataframe)**

In [16]:
# Vertically stack
result_vertical = pd.concat([ser1, ser2], axis=0)

# Horizontally stack
result_horizontal = pd.concat([ser1, ser2], axis=1)

print(result_vertical)
print(result_horizontal)

0    1
1    2
2    3
3    4
4    5
0    4
1    5
2    6
3    7
4    8
dtype: int64
   0  1
0  1  4
1  2  5
2  3  6
3  4  7
4  5  8

# **15. Get the positions of items of ser2 in ser1 as a list?**

In [17]:
ser1 = pd.Series(range(5))
ser2 = pd.Series([1, 3, 10, 13])

positions = [i for i, val in enumerate(ser1) if val in ser2.values]
print(positions)

[1, 3]

# **16. Compute the mean squared error of truth and pred series?**

In [18]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

mse = ((truth - pred) ** 2).mean()
print(mse)

0.30090213781983577

# **17. Change the first character of each word to upper case in each word of ser?**

In [19]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

result = ser.apply(lambda x: x.title())
print(result)

0     How
1      To
2    Kick
3    Ass?
dtype: object

# **18. How to calculate the number of characters in each word in a series?**

In [20]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

result = ser.apply(lambda x: len(x))
print(result)

0    3
1    2
2    4
3    4
dtype: int64

# **19. How to convert a series of date-strings to a timeseries?**

In [21]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

result = pd.to_datetime(ser)
print(result)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

# **20. Get the day of month, week number, day of year and day of week from ser?**

In [22]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

result = pd.to_datetime(ser).dt.strftime('%d %U %j %A')
print(result)

0       01 00 001 Friday
1    02 05 033 Wednesday
2     03 09 063 Saturday
3     04 13 094 Thursday
4       05 18 125 Monday
5     06 22 157 Saturday
dtype: object

# **21. Change ser to dates that start with 4th of the respective months?**

In [23]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

result = pd.to_datetime(ser, format='%b %Y') + pd.offsets.MonthBegin(1)
print(result)

0   2010-02-01
1   2011-03-01
2   2012-04-01
dtype: datetime64[ns]

# **22. From ser, extract words that contain at least 2 vowels?**

In [24]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

result = ser[ser.apply(lambda x: sum(1 for char in x if char.lower() in 'aeiou') >= 2)]
print(result)

0     Apple
1    Orange
4     Money
dtype: object

# **23. Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference?**

In [25]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

valid_emails = emails[emails.str.contains(pattern)]
print(valid_emails)

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

# **24. Compute the mean of weights of each fruit?**

In [26]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

result = weights.groupby(fruit).mean()
print(result)

apple     3.500000
banana    4.600000
carrot    8.333333
dtype: float64

# **25. Compute the Euclidean distance between series (points) p and q?**

In [27]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

euclidean_distance = np.linalg.norm(p - q)
print(euclidean_distance)

18.16590212458495

# **26. Get the positions of peaks (values surrounded by smaller values on both sides) in ser?**

In [28]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

peaks = ser[(ser.shift(1) < ser) & (ser.shift(-1) < ser)].index
print(peaks)

Int64Index([1, 5, 7], dtype='int64')